# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main", "controllers" ]
  pull_request:
    branches: [ "main", "controllers" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore ./backend
      working-directory: ./backend

    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: ./backend

    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: ./backend
