name: .NET

on:
  push:
    branches: ["main", "controllers"]
  pull_request:
    branches: ["main", "controllers"]

jobs:
  build:
    env:
      ASPNETCORE_ENVIRONMENT: "Development"
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4 # Check out the code from the repository

      - name: Setup .NET
        uses: actions/setup-dotnet@v4 # Set up the .NET SDK
        with:
          dotnet-version: 8.0.x # Specify the exact .NET SDK version

      - name: Restore dependencies
        run: dotnet restore ./backend # Restore project dependencies

      - name: Test
        run: dotnet test --no-restore --verbosity normal ./backend # Run tests

      - name: Build
        run: dotnet build --configuration Release --no-restore ./backend --runtime linux-x64 # Build the project

      - name: Deploy to server
        run: |
          rm -r /home/datnt/datj-backend 
          cp -r ./backend/bin/net8.0/linux-x64/* /home/datnt/datj-backend
          sudo systemctl restart datj-backend.service
        shell: bash
